
@import 'css/main.css';
@import 'css/util.css';

html, body {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e2e2e2;
}

img {
  height: 100%;
  width: 100%;
}

:placeholder-shown {
  padding-left: 10px;
}

button {
  height: 40px;
  margin-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #1d6eff;
  border-radius: 3px;
  color: #ffffff;
}

input {
  padding-left: 10px;
  background-color: #e2e2e2;
  height: 40px;
  margin-left: 20px;
  border-radius: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bodyWrapper {
  background-color: #e2e2e2;
  margin: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-color: #ffffff;
  margin: 10px;
  height: 120px;
  vertical-align: middle;
  border-radius: 3px;
}

.headerLabel {
  padding-top: 20px;
  padding-left: 20px;
}

.headerTextOne {
  color: #a8a8a8;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headerTextTwo {
  padding-bottom: 5px;
  padding-top: 5px;
  color: #16335b;
  font-size: xx-large;
}

.tableWrapper {
  height: 70%;
  position: relative;
  margin: 10px;
  border-radius: 3px;
  background-color: #ffffff;
}


.tableContent {
  padding: 15px;
  overflow: auto;
  height: 100%;
}

.footer {
  margin: 10px;
  background-color: #ffffff;
  border-radius: 3px;
  height: 10%;
  display: block;
  overflow: auto;
}

.inputFields {
  margin-top: 25px;
  display: flex;
}

.row .cell.inprog {
  color: #e90000;
  font-weight: bold;
}

.row .cell.unrel {
  color: #060fc6;
  font-weight: bold;
}

.row .cell.rel {
  color: #00a314;
  font-weight: bold;
}

.desc {
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
}

.menuIcon {
  height: 30px;
  width: 30px;
  align-items: center;
}

.editField {
  margin-top: 5px;
  margin-bottom: 5px;
}

.editInp {
  width: 500px;
  margin-left: 0;
}